@media (prefers-color-scheme: dark) {
    img {
        opacity: .75;
        transition: opacity .5s ease-in-out;
    }
    img:hover {
        opacity: 1;
    }
}

#main {
    margin: 5px;
    /*overflow: auto;*/
}

#voices {
    margin: 5px;
    float: right;
}

/* TODO - Hack until I can tame Bootstrap! */
#vl {
    float: right;
}

#go {
    float: right;
    margin: 5px;
}

#src {
    float: right;
}